body {
  margin: 0;
  font-family: 마루 부리OTF Beta, 나눔스퀘어;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./asset/BackgroundImg.jpg);
  background-size: 100vw 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  font-size: 1.5vmin;
  font-family: 마루 부리OTF Beta;
  background-color: transparent;
  border:  none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}